layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="#1 nvim" {
        pane {
            command "nvim"
            args "."
        }
    }
    tab name="#2 terminals" {
        pane split_direction="vertical" {
            pane
            pane 
        }
    }
    tab name="3# rails" {
        pane {
            command "rails"
            args "s"
            start_suspended true
        }
    }
    tab name="4# sidekiq" split_direction="horizontal" {
        pane 
        pane
    }
    tab name="5# docker" {
        pane {
            command "docker-compose"
            args "up"
        }
    }
}
