<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.sketchybar.ssid</string>
	<key>CFBundleName</key>
	<string>SSID</string>
	<key>CFBundleExecutable</key>
	<string>ssid</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSLocationUsageDescription</key>
	<string>SketchyBar needs Location Services to read the Wi-Fi network name.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SketchyBar needs Location Services to read the Wi-Fi network name.</string>
</dict>
</plist>
